{% extends 'master01.html' %}

{% block pagename %}Jeu d'ecoute{% endblock %}

{% block contents %} 

<h1>Game - Jeu d'ecoute</h1>
<div class="game_score"><span>Score</span><br/><span class="game_score_val">{{ score }}</span></div>

<table class="halfhalf"  style="text-align: center;width: 100%;">
  <tr>
    <td>    
      <div class="pendu_input">
        <table>
          <tr>
            <td><input type="text" name="text" id="text" onkeyup="textChanged();" /></td>
            <td>👈 click here to input text<br/>
            👈 cliquez la pour rentrer du texte<br/>
          👈ここで字を入力してください</td>
          </tr>
        </table>
      </div>


    </td>
    <td>
      <button id="rejouer" class="replaySound" onclick="javascript:replay();">▶️ Rejouer! 再生! Replay!</button>
<br/>
<br/>
      <button id="btnShowHint" onclick="javascript:showHint();">Montrer un indice?</button><br/>
      <div id="divZaHint" ></div>
    
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <div class="game_result">
        <span id="result"></span> <br/>
        <br/>
        <div id="suivant" style="display:none;"><a class="next" href='listening?lastscore={{score}}' >Suivant...</a></div><br/>
        <br/>
      </div>
    </td>
  </tr>
</table>


<!-- LOL CSS had to search "how to center a div"-->
<div style="text-align: center;">
  <div id="output" class="pendu_list">
    {% for l in item.toType %}
    <div class="pendu_card">
      <div class="letter" name="letter" my-letter="{{ l }}">_</div>
    </div>    
    {% endfor %}
  </div>
</div>

<br/>
<br/>
<br/>

<div style="text-align: center;">
  <a href="listening" onclick="alert('La reponse etait \'' + '{{item.toHear}}'.toUpperCase() + '\'');">J'abandonne ... suivant!</a>
</div>







<script type="text/javascript">

//Handles when text is input in the textbox 
function textChanged() {
  var t = document.getElementById("text");

  var candidate = t.value.toLowerCase()[0];

  var letterz = document.getElementsByName("letter");
  for (const l of letterz){
    if ("_" == l.innerHTML){
      //found first empty character
      if (l.getAttribute("my-letter").toLowerCase() == candidate) {
        l.innerHTML = candidate.toUpperCase();
      }
      //the line must be drawn here, no further
      break;
    }
  }

  t.value = "";

  //check if won
  checkWin();
}

//Checks if user won
function checkWin() {
  var letterz = document.getElementsByName("letter");
  var allFound = true;
  
  for (const l of letterz){
    allFound = allFound && (l.getAttribute("my-letter").toLowerCase() == l.innerHTML.toLowerCase()) ;
  }  

  if (allFound == true) {
    var r = document.getElementById('result');
    r.innerHTML = "Bravo, c'etait <span class='game_pokemon_name'>{{ item.toHear }}</span>!";
    //show the next button
    var suiv = document.getElementById('suivant');
    suiv.style.display = "block";
    suiv.firstChild.focus();

    //highlight
    card.children[0].style.color = 'forestgreen';
  }
}



//Shows the hint as the correct letters in random order
function showHint(){
  var secret = "{{ item.toType }}";
  var shuffled = shuffle(secret);

  
  var t = document.getElementById("divZaHint");
  t.innerHTML = shuffled;
  t.style.display = "block";

}

//Do on first load
function onFirstLoad(){
  var t = document.getElementById("text");
  t.focus();

  //play the sound
  speech2textAPI('{{item.lang4}}', '{{item.toHear}}');
}

//play sound and then focus the text box
function replay(){
  replayLatestAudio();
  var t = document.getElementById("text");
  t.focus();
}

onFirstLoad();

</script>

{{ dbg }}
{% endblock %}
