body {
    background-color: black;
    color: gainsboro;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*--------------------------------------------------------------------------------------------------------*/
/* Header */
table.header{
    width: 100%;
    text-align: center;
    height: 30px;
    vertical-align: middle;
}

table.header tr td {
    width:16%;
}   

/*--------------------------------------------------------------------------------------------------------*/
/* Anchors */
a {color:gainsboro; border-bottom: 1px dotted gold;}
a:link {text-decoration: none;}
a:active {font-weight: bold;}
a:visited {color:gainsboro;}
a:hover {
    color:gold;
    text-decoration: underline;
}

/*--------------------------------------------------------------------------------------------------------*/
/* Found the glow effect here https://www.proglobalbusinesssolutions.com/css-hover-effects/ */
table.header a {
    color:gainsboro;    
    transition: .5s; 
    border-radius: 50%;
    border-bottom: none;
    font-weight: bold;
}
table.header a:before{  
    background: gold;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;

    border-radius: 50%;
}
table.header a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px gold;
    }
table.header a:hover {
    color: gold;
    box-shadow: 0 0 5px gold;
    text-shadow: 0 0 5px gold;
}


/*--------------------------------------------------------------------------------------------------------*/
/* GameA : Initiale */
/* Good doc about alignment https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Aligning_Items_in_a_Flex_Container */
div.gameA_list {
    display: inline-flex;
    border: solid 5px red;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;

    text-align: center;
}
div.gameA_card {
    width: 15%;
    height: 200px;
    background-color: gainsboro;
    border: solid 1px gold;

    
}
div.gameA_letter {
    color: black;
    font-size: 56px;
    text-align: center;
    vertical-align: middle;
    border: solid 1px greenyellow;
    
    transform: translateY(50%);
    margin: 0px;
}

.gameA_img {
    width:100%;
    text-align: center;
}