<html>
  <head>
    <title>Poke-Trainer - Game</title>
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
<body>

<table class="header">
  <tr>
    <td><a href="/">Home</a></td>
    <td><a href="randomPokemon">Random Pokemon</a></td>
  </tr>
</table>
<br/>
<br/>
<h1>Game - L'initiale du Pokemon</h1>
<table>
  <tr>
    <td style="font-family: 'Courier New', Courier, monospace;">
{% autoescape false %}
  {{ pagecontent }}
{% endautoescape %}  
    </td>
    <td>
      <img src="{{logo}}" />
    </td>
  </tr>
</table>
</body>