{% extends 'master01.html' %}

{% block pagename %} L'initiale {% endblock %}

{% block contents %} 

<h1>Game - L'initiale du Pokemon</h1>

<div class="gameA_img"><img src="{{ pokemon.spriteURL_big }}" /></div>
<div class="gameA_img"><span id="result"></span></div>

<div class="gameA_list">
  {% for card in cards %}
  <div class="gameA_card" onClick="submitResponse('{{ card.letter }}')">
    <div class="gameA_letter">{{ card.letter }}</div>
  </div>
  {% endfor %}
</div>

<script type="text/javascript">
  //Shows the result of the choice
function submitResponse(letter) {
  var r = document.getElementById('result');
  if (letter.toLowerCase() == '{{ pokename[0].lower() }}') {
    alert("ok, c'etait {{ pokename }}");
    r.innerText = "OK!";
  }
  else {
    
    r.innerText = "Non, essaye encore...";
  }

}

</script>

{{ dbg }}
{% endblock %}
