{% extends 'master01.html' %}

{% block pagename %} L'initiale {% endblock %}

{% block contents %} 

<h1>Game - L'initiale du Pokemon</h1>
<div class="game_score"><span>Score</span><br/><span class="game_score_val">{{ score }}</span></div>
<div class="game_img"><img src="{{ pokemon.spriteURL_big }}" /></div>
<div class="game_result">
  <span id="result"></span> <br/>
  <br/>
  <div id="suivant" style="display:none;"><a class="next" href='gameA?lastid={{ pokemon.id }}&lastscore={{score}}' >Suivant...</a></div><br/>
  <br/>
</div>

<div class="game_list">
  {% for card in cards %}
  <div class="gameA_card" onClick="submitResponse(this, '{{ card.letter }}');">
    <div class="letter">{{ card.letter }}</div>
  </div>
  {% endfor %}
</div>

<script type="text/javascript">


  //Shows the result of the choice
function submitResponse(card, letter) {
  var r = document.getElementById('result');
  if (letter.toLowerCase() == '{{ pokename[0].lower() }}') {
    r.innerHTML = "Bravo, c'etait <span class='game_pokemon_name'>{{ pokename }}</span>!";
    //show the next button
    document.getElementById('suivant').style.display = "block";

    //highlight
    card.children[0].style.color = 'forestgreen';
  }
  else {    
    r.innerText = "Non, essaye encore...";
    //greyout
    card.children[0].style.color = 'grey';
  }

}

</script>

{{ dbg }}
{% endblock %}
