{% extends 'master01.html' %}

{% block pagename %} Homepage {% endblock %}

{% block contents %} 
<span class="homewelcome">Welcome to Poke-Trainer</span><br/>
By AlanFromJapan / MIT license / Full source code here <a href="https://github.com/AlanFromJapan/poke-trainer">on Github</a>.<br/>
This application is not approved nor affiliated with Pokemon or Nintendo or anyone.<br/>
Don't sue me, go play Pokemon instead.<br/>
This app couldn't exist without <b><a href="https://pokeapi.co/">PokeAPI</a> ❤️</b>!
<br/>
<img src="{{logo}}" />

<table class="gameslist">
    <tr>
        <td>
            <span class="gamename">Initiale</span><br/>
            Trouve la premiere lettre du nom d'un pokemon!
        </td>
        <td>
            <span class="gamename">Pendu</span><br/>
            Le jeu du pendu, ecrit tout le nom du pokemon sans te tromper sinon...
        </td>
        <td>
            <span class="gamename">Meli-melo</span><br/>
            Remet les lettres du nom du pokemon dans le bon ordre.
        </td>
    </tr>
</table>
{{ dbg }}
{% endblock %}
