<html>
  <head>
    <title>Poke-Trainer - {% block pagename %} {% endblock %}</title>
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script type="text/javascript" src="js/utils.js"></script>
  </head>
<body>

<table class="header">
  <tr>
    <td><a href="home">Home</a></td>
    <td><a href="randomPokemon">Random Pokemon</a></td>
    <td><a href="gameA">Jeu: Initiale</a></td>
    <td><a href="gameB">Jeu: Pendu</a></td>
    <td><a href="gameC">Jeu: Meli-melo</a></td>
    <td>
      <button type="button" onClick="switchLanguage('fr');">Francais</button>
      <button type="button" onClick="switchLanguage('ja');">Japonais</button><br/>

      <button type="button" onClick="switchLetterStyle('block');">BLOCK</button>
      <button type="button" onClick="switchLetterStyle('cursive');" class="cursive">Cursive</button>
      <button type="button" onClick="switchLetterStyle('mix');">Mix</button><br/>


      <button type="button" onClick="switchLetterCase('uppercase');">UPPERCASE</button>
      <button type="button" onClick="switchLetterCase('lowercase');">lowercase</button>

    </td>
  </tr>
</table>
<br/>
<br/>

{% block contents %} {% endblock %}

</body>